@model IEnumerable<Medi_Call.Models.Doctor>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @using (Html.BeginForm("Search", "User", FormMethod.Get))

    {
       

        @Html.DropDownList("sp", ViewData["sp"] as List<SelectListItem>)


        <input type="submit" value="Search" />
    }
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Speciality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fee_Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Working_Days)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Timings)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Speciality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fee_Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Working_Days)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Timings)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Email }) |
            @Html.ActionLink("Details", "Details", new { id=item.Email }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Email })
        </td>
    </tr>
}

</table>
