@model Medi_Call.Models.UserRegisterViewModel

@{
    ViewBag.Title = "UserRegister";
    List<SelectListItem> l1 = new List<SelectListItem>();
    l1.Add(new SelectListItem() { Text = "Whats your pet name?" });

    l1.Add(new SelectListItem() { Text = "Where's your hometown?" });
    l1.Add(new SelectListItem() { Text = "What is your favorite movie?" });
    l1.Add(new SelectListItem() { Text = "What was your childhood nickname" });
}

<h2>User Sign Up!</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Confirm_Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Confirm_Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Confirm_Password, "", new { @class = "text-danger" })
            </div>
        </div>

         <div class="form-group">
            @Html.LabelFor(model => model.Secret_Question, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                <select class="form-control" name="Secret_Question">
                    <option value="Whats your pet name?">Whats your pet name?</option>
                    <option value="Where's your hometown?">Where's your hometown?</option>
                    <option value="What is your favorite movie?">What is your favorite movie?</option>
                    <option value="What was your childhood nickname">What was your childhood nickname?</option>
                </select>


                @Html.ValidationMessageFor(model => model.Secret_Question, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Answer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Answer, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Answer, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Register" class="btn btn-default" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-2">
            <label class="label">@ViewBag.SuccessMessage</label>
        </div>
    </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-2">
                <label class="label">@ViewBag.DuplicateMessage</label>
            </div>
        </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
