@model IEnumerable<Medi_Call.Models.Doctor>

@{
    ViewBag.Title = "AllDoc";
}

<h2>AllDoc</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
       
<<<<<<< HEAD
    
=======
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Speciality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
>>>>>>> a11dc09e91a98dac70189bba16610f7c357cb838
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
<<<<<<< HEAD
=======
        <td>
            @Html.DisplayFor(modelItem => item.Speciality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
>>>>>>> a11dc09e91a98dac70189bba16610f7c357cb838
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Email }) |
            @Html.ActionLink("Details", "DoctorDetails", new { id=item.Name }) |
            @Html.ActionLink("Delete", "DoctorDelete", new { id=item.Name })
        </td>
    </tr>
}

</table>
